.timeline {
  .controls {
    display: flex;
    justify-content: space-between;
  }

  .board {
    border: 1px dotted white;
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;

    .pass-box {
      cursor: pointer;
      position: absolute;
      border: 2px solid var(--item-color);
      background-color: color-mix(in srgb, var(--item-color), transparent 80%);
      color: var(--item-color);
      &.dimmed {
        opacity: 0.2;
      }
      &:hover {
        background-color: color-mix(
          in srgb,
          var(--item-color),
          transparent 60%
        );
      }
    }
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .legend-item {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      cursor: pointer;
      &.focused {
        font-weight: bold;
        text-decoration: underline;
      }

      .color-box {
        width: 16px;
        height: 16px;
        background-color: color-mix(in srgb, var(--item-color), transparent 80%);
        border: 1px solid #000;
      }
    }
  }
}
